scripts/benchmark/benchmark.dtd

<!ELEMENT benchmark (test*,columns?)>
<!ELEMENT test (sourcefiles+,options)>
<!ELEMENT sourcefiles (#PCDATA)>
<!ELEMENT options (option*)>
<!ELEMENT option (#PCDATA)>
<!ELEMENT columns (column*)>
<!ELEMENT column (#PCDATA)>

<!ATTLIST benchmark tool CDATA #REQUIRED>
<!ATTLIST benchmark memlimit CDATA #IMPLIED>
<!ATTLIST benchmark timelimit CDATA #IMPLIED>
<!ATTLIST option name CDATA #REQUIRED>
<!ATTLIST column title CDATA #IMPLIED>
